--index-url https://download.pytorch.org/whl/cpu
torch==2.7.1
torchvision==0.22.1
torchaudio==2.8.0
--index-url https://pypi.org/simple
flask==3.0.3
flask-cors==5.0.0
transformers==4.56.1
opencv-python-headless==4.10.0.84
pillow==10.4.0
numpy==2.1.1
gunicorn==23.0.0
onnxruntime==1.22.0
